<div class="app-renewal-agreements-widget-container dashboard-widget">
    <div class="dash-widget-header">
        <div class="dash-widget-header-text">Renewal Agreements</div>
        <div class="dash-widget-header-report-link">
            <a href="/">View Report</a>
        </div>
        <div class="dash-widget-filter">
            <select>
                <option>Filer Date</option>
            </select>
            <select>
                <option>Renew Agreement</option>
            </select>
        </div>
    </div>
    <div class="dash-widget-body">
        <table>
            <thead>
                <tr>
                    <th>Agreement ID</th>
                    <th>Segment ID</th>
                    <th>Group Name</th>
                    <th>Date Submitted</th>
                    <th>Route</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>T2842</td>
                    <td>21652</td>
                    <td>Apple Inc</td>
                    <td>03/22/2021</td>
                    <td>RR 2314</td>
                </tr>
                <tr>
                    <td>T2842</td>
                    <td>40800</td>
                    <td>MD Health</td>
                    <td>04/01/2021</td>
                    <td>IH10</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Whole Foods</td>
                    <td>05/22/2021</td>
                    <td>FM1981</td>
                </tr>
                <tr>
                    <td>94666</td>
                    <td>94121</td>
                    <td>Dell</td>
                    <td>06/29/2021</td>
                    <td>SH7</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>21652</td>
                    <td>Solar Winds</td>
                    <td>06/29/2021</td>
                    <td>SH21</td>
                </tr>
                <tr>
                    <td>81125</td>
                    <td>480800</td>
                    <td>Oracle</td>
                    <td>06/29/2021</td>
                    <td>IH35</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="dash-widget-footer">
        <div class="dash-widget-footer-text">2 agreements are due in the next 30 days</div>
    </div>
</div>