.container {
    display: block;
    background-color: white;
    color: hsl(0, 0%, 35%);
    padding: 5em;
    bottom: 0;
}

.button-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

button {
    margin-left: 20px;
    margin-right: 20px;
}