
/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

:host ::ng-deep  .select {
  text-align: center;
  background-color: hsl(207, 73%, 40%);
  padding-bottom: 10px;
}

.login1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.login1-header {
  background: hsl(207, 73%, 40%);
  padding: 20px 30px 10px 30px;
  width: 100%;
  margin-bottom: 0px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.login1-container {
  background: hsl(0, 0%, 92%);
  padding: 12px;
}
