<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Document</title>
    </head>
    <style>
        div.content { font-size: 16px; font-family: "Nunito Sans", sans-serif;
        margin: 0; padding: 0; display: flex; flex-direction: column;
        align-items: stretch; text-align: center; background-color: hsl(30, 0%,
        86%, 0.45); height: auto; } b { font-weight: 600; } div.header,
        p.email-content { flex: 1; } .header { background-color: hsl(222, 72%,
        40%, 1); padding: 3rem; color: hsl(0, 0%, 100%); } svg { fill: hsl(0,
        0%, 100%); width: 150px; height: 150px; } div.header p { margin-bottom:
        2rem; font-size: 1.2em; font-weight: 600; font-family: "Open Sans",
        sans-serif; } a.button { margin: 0; background-color: hsl(48, 89%, 50%);
        padding: 20px 100px; font-size: 2em; font-weight: 600; border: 0; color:
        hsl(0, 0%, 0%); border-radius: 10px; text-transform: uppercase;
        text-decoration: none; } p.email-content { padding: 1.5em; flex-grow: 1;
        height: auto; text-align: left; }
    </style>
    <body>
        <div class='content'>
            <p class='email-content'>From: Adopt-A-Highway Program<br /><br
                />A new password for this email has been created:<br /><br />
                {{password}}<br/><br/>Please change at your earliest opportunity. If you
                have any questions, please contact your district coordinator.<br
                />If this is in error, please contact your plan coordinator.<br
                />Thank you for helping keep Texas' highways litter free!<br
                /><br />TxDOT Adopt-a-Highway</p>
        </div>
    </body>
</html>