<style>
div.content {
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  background-color: hsl(30, 0%, 86%, 0.45);
  height: auto;
}
b {
  font-weight: 600;
}
div.header,
p.email-content {
  flex: 1;
}
.header {
  background-color: hsl(222, 72%, 40%, 1);
  padding: 3rem;
  color: hsl(0, 0%, 100%);
}
svg {
  fill: hsl(0, 0%, 100%);
  width: 150px;
  height: 150px;
}
div.header p {
  margin-bottom: 2rem;
  font-size: 1.2em;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
a.button {
  margin: 0;
  background-color: hsl(48, 89%, 50%);
  padding: 20px 100px;
  font-size: 2em;
  font-weight: 600;
  border: 0;
  color: hsl(0, 0%, 0%);
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
}
p.email-content {
  padding: 1.5em;
  flex-grow: 1;
  height: auto;
  text-align: left;
}
</style>
<div class='content'>
    <div class='header'>
        <div class='circle'>
            <svg
                xmlns='http://www.w3.org/2000/svg'
                width='115'
                height='115'
                viewBox='0 0 115 115'
            >
                <g
                    id='Ellipse_61'
                    data-name='Ellipse 61'
                    fill='#1c48af'
                    stroke='#fff'
                    stroke-width='3'
                >
                    <circle cx='57.5' cy='57.5' r='57.5' stroke='none'></circle>
                    <circle cx='57.5' cy='57.5' r='56' fill='none'></circle>
                </g>
                <g
                    id='MDI_file-document-edit-outline'
                    data-name='MDI / file-document-edit-outline'
                    transform='translate(32.5 27.5)'
                >
                    <g
                        id='Boundary'
                        fill='#fff'
                        stroke='rgba(0,0,0,0)'
                        stroke-width='1'
                        opacity='0'
                    >
                        <rect width='60' height='60' stroke='none'></rect>
                        <rect
                            x='0.5'
                            y='0.5'
                            width='59'
                            height='59'
                            fill='none'
                        ></rect>
                    </g>
                    <path
                        id='Path_file-document-edit-outline'
                        data-name='Path / file-document-edit-outline'
                        d='M15.978,29.143H39.934v5.429H15.978V29.143m5.989,21.714H9.989V7.429H30.95V21H45.922v8.414l5.989-5.429v-5.7L33.945,2H9.989A5.729,5.729,0,0,0,4,7.429V50.857a5.729,5.729,0,0,0,5.989,5.429H21.967V50.857m-5.989-5.429H28.255l2.7-2.443V40H15.978v5.429M52.51,31.857a2.369,2.369,0,0,1,1.2.543L57.6,35.929a1.537,1.537,0,0,1,0,2.171l-2.994,2.714-6.288-5.7L51.312,32.4a1.612,1.612,0,0,1,1.2-.543m0,10.586L34.244,59H27.956V53.3L46.222,36.743Z'
                        transform='translate(-1 0)'
                        fill='#fff'
                    ></path>
                </g>
            </svg>
        </div>
        <p>Your application was updated</p>
        <a href='{{path}}' class='button'>View Application</a>
    </div>
    <p class='email-content'>From: Adopt-A-Highway Program<br /><br />Your application submission for Adopt a Highway has been updated.<br /><br />If you want to review your changes, you can click the View Application link above to return to your application.<br /><br />Thank you for helping keep Texas' highways litter
        free!<br /><br />TxDOT Adopt-a-Highway</p>
</div>