<div class="app-agreement-renewals-widget-container dashboard-widget">
    <div class="dash-widget-header">
        <div class="dash-widget-header-text">Agreement Renewals</div>
        <div class="dash-widget-header-report-link">
            <a href="/">View Report</a>
        </div>
        <div class="dash-widget-filter">
        </div>
    </div>
    <div class="dash-widget-body">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
        </canvas>
    </div>
    <div class="dash-widget-footer">
        <div class="dash-widget-footer-text">Total number of agreements: 1275</div>
    </div>
</div>