.mat-dialog-content 
{
    width: 100%;
    text-align: center;
}
.textarea-container 
{
    width: 100%;
}
.textarea {
    resize: none;
    border: 1px solid;
    outline: none;
}
.action-button
{
    width: 75px;
    margin: 10px;
}
.mat-dialog-actions
{
    justify-content: end;
    margin-top: -15px;
    background-color: #007ac2;
    height: 50px;
    padding: 0px;
    margin-right: -24px !important;
    margin-left: -24px !important;
    color: white;
}
::ng-deep .mat-form-field-underline {
    display: none;
}
.mat-dialog-title
{
    margin-bottom: 0px;
}