<div class="new-applications-agreements-widget-container dashboard-widget">
    <div class="dash-widget-header">
        <div class="dash-widget-header-text">New Applications/Agreements</div>
        <div class="dash-widget-header-report-link">
            <a href="/">View Report</a>
        </div>
        <div class="dash-widget-filter">
            <select>
                <option>New Agreement</option>
                <option>New Applications</option>
            </select>
        </div>
    </div>
    <div class="dash-widget-body">
        <table>
            <thead>
                <tr>
                    <th>Date Submitted</th>
                    <th>Group Name</th>
                    <th>Agreement ID</th>
                    <th>Segment ID</th>
                    <th>Segment Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>03/22/2021</td>
                    <td>Apple Inc</td>
                    <td>T2842</td>
                    <td>21652</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td>04/01/2021</td>
                    <td>MD Health</td>
                    <td>T2842</td>
                    <td>40800</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td>05/22/2021</td>
                    <td>Whole Foods</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>06/29/2021</td>
                    <td>Dell</td>
                    <td>94666</td>
                    <td>94121</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td>06/29/2021</td>
                    <td>Solar Winds</td>
                    <td>&nbsp;</td>
                    <td>21652</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td>06/29/2021</td>
                    <td>Oracle</td>
                    <td>81125</td>
                    <td>480800</td>
                    <td>Pending</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="dash-widget-footer">
        <div class="dash-widget-footer-text">2 recently submitted agreements need attention</div>
    </div>
</div>