<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- TODO: change to https when needed -->
        <add name="Access-Control-Allow-Origin" value="https://__HOST_SITE_URL__/" />
        <add name="Access-Control-Allow-Headers" value="origin, accept, content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
                <clear />
                <rule name="ApiReverseProxyInboundRule" enabled="true" stopProcessing="true">
                    <match url="aah.txdot.gov/api(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                        <add input="{URL}" pattern="/api(.*)" />
                    </conditions>
                    <action type="Rewrite" url="https://__API_ENDPOINT__/{R:1}" logRewrittenUrl="true" />
                </rule>
                <rule name="Angular Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="./index.html" />
                </rule>
      </rules>
      <outboundRules>
                <clear />
                <rule name="ApiReverseProxyOutboundRule" preCondition="ResponseIsHtml1" enabled="true" stopProcessing="false">
                    <match filterByTags="None" pattern="__API_ENDPOINT__:3000/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
                    <action type="Rewrite" value="https://aah.txdot.gov/api/{R:1}" />
                </rule>
        <preConditions>
          <preCondition name="ResponseIsHtml1">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/(.+)" />
          </preCondition>
          <preCondition name="NeedsRestoringAcceptEncoding">
            <add input="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" pattern=".+" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <urlCompression doStaticCompression="false" />
  </system.webServer>
</configuration>
