<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="AAHInboundWithQueryString" stopProcessing="true">
            <match url="api/(.*)" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                <add input="{QUERY_STRING}" pattern="(.*)" />
            </conditions>
            <action type="Rewrite" url="https://txdot4wvpaah01.dot.state.tx.us:3000/{R:1}" logRewrittenUrl="true" />
        </rule>
        <rule name="InboundIdentityTxDOTRule" enabled="true" stopProcessing="true">
          <match url="TXDOT4WVPAAH01.dot.state.tx.us/idp/SSO.saml2(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <serverVariables>
            <set name="ORIGINAL_HOST" value="{HTTP_HOST}" />
          </serverVariables>
          <action type="Rewrite" url="https://dev-identity.txdot.gov/idp/SSO.saml2{R:1}" logRewrittenUrl="false" />
        </rule>
        <rule name="AahTxDotRedirectRule" enabled="true" stopProcessing="true">
          <match url="txdot4wvpaah01.dot.state.tx.us(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <serverVariables>
            <set name="ORIGINAL_HOST" value="{HTTP_HOST}" />
          </serverVariables>
          <action type="Rewrite" url="https://{ORIGINAL_HOST}{R:1}" />
        </rule>
        <rule name="Angular Route" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./index.html" logRewrittenUrl="true" />
        </rule>
      </rules>
      <outboundRules>
        <clear />
        <rule name="IdentityTxDOTOutboundRule" preCondition="IsRedirection" stopProcessing="false">
          <match serverVariable="RESPONSE_Location" pattern="TXDOT4WVPAAH01.dot.state.tx.us/idp/SSO.saml2(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true"></conditions>
          <action type="Rewrite" value="https://dev-identity.txdot.gov/idp/SSO.saml2{R:1}" />
        </rule>
        <rule name="OutboundAahTxDOTRule1" preCondition="IsRedirection" stopProcessing="false">
          <match serverVariable="RESPONSE_Location" pattern="https://aah.txdot.gov(.*)" />
          <action type="Rewrite" value="https://aah.txdot.gov{R:1}" />
        </rule>
        <rule name="OutboundAahTxDOTRule2" preCondition="IsRedirection" stopProcessing="false">
          <match serverVariable="RESPONSE_Location" pattern="TXDOT4WVPAAH01.dot.state.tx.us(.*)" />
          <action type="Rewrite" value="https://txdot4wvpaah01.dot.state.tx.us{R:1}" />
        </rule>
        <preConditions>
          <preCondition name="ResponseIsHtml1">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/(.+)" />
          </preCondition>
          <preCondition name="NeedsRestoringAcceptEncoding">
            <add input="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" pattern=".+" />
          </preCondition>
          <preCondition name="IsRedirection">
            <add input="{RESPONSE_STATUS}" pattern="3\d\d" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <urlCompression doStaticCompression="false" />
    <tracing>
      <traceFailedRequests>
        <remove path="*" />
        <add path="*">
          <traceAreas>
            <add provider="WWW Server" areas="Rewrite,RequestRouting" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions timeTaken="00:00:00" statusCodes="200-399" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>