<div>
    <div class='dashboard'>
        <div class='dashboard-widget'>
            <app-new-applications-agreements>
            </app-new-applications-agreements>
        </div>
        <div class='dashboard-widget'>
            <app-renewable-agreements></app-renewable-agreements>
        </div>
        <div class='dashboard-widget'>
            <app-agreements-by-status>
            </app-agreements-by-status>
        </div>
        <div class='dashboard-widget'>
            <app-agreement-renewals></app-agreement-renewals>
        </div>
        <div class="dashboard-widget">
            <app-segments-by-status></app-segments-by-status>
        </div>
        <div class='dashboard-widget'>
            <app-new-applications-agreements>
            </app-new-applications-agreements>
        </div>
        <div class='dashboard-widget'>
            <app-sign-statuses></app-sign-statuses>
        </div>
        <div class='dashboard-widget'>
            <app-renewable-agreements></app-renewable-agreements>
        </div>
        <div class='dashboard-widget'>
            <app-new-agreements-signed></app-new-agreements-signed>
        </div>
    </div>
</div>