<div class="sign-statuses-widget-container dashboard-widget">
    <div class="dash-widget-header">
        <div class="dash-widget-header-text">Sign Statuses</div>
        <div class="dash-widget-header-report-link">
            <a href="/">View Report</a>
        </div>
        <div class="dash-widget-filter">
            <select>
                <option>District</option>
            </select>
            <select>
                <option>County</option>
            </select>
            <select>
                <option>Maint Office</option>
            </select>
        </div>
    </div>
    <div class="dash-widget-body">
        <table>
            <thead>
                <tr>
                    <th>Sign Status</th>
                    <th>Date Completed</th>
                    <th>Maintenance Office</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sign Mockup Pending</td>
                    <td>06/22/2021</td>
                    <td>1246</td>
                </tr>
                <tr>
                    <td>Sign to Shop by the Sign Coordinator</td>
                    <td>05/05/2021</td>
                    <td>06/20/2021</td>
                </tr>
                <tr>
                    <td>Sign Mockup Pending</td>
                    <td>07/11/2021</td>
                    <td>7768</td>
                </tr>
                <tr>
                    <td>Sign to Shop by the Sign Coordinator</td>
                    <td>04/22/2021</td>
                    <td>6674</td>
                </tr>
                <tr>
                    <td>Sign Mockup Pending</td>
                    <td>05/14/2021</td>
                    <td>3454</td>
                </tr>
                <tr>
                    <td>Sign installed</td>
                    <td>06/29/2021</td>
                    <td>3212</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="dash-widget-footer">
        <div class="dash-widget-footer-text">4 signs need attention</div>
    </div>
</div>